@media screen and (max-width: 1024px){
    .menu {
        padding: 2px 10px;
    }
    p{
        font-size: 19px;
    }    h2 {
        font-size: 25px;
    }
    span#qw {
        font-size: 22px;
    }
    button{
        padding: 3px;
    }
    section{
        line-height: 28px;
    }
    aside {
        line-height: 28px;
    }
    div.contacts{
        flex-direction: column;
    }
    p.address{
        text-align: center;
        font-size: 19px;
    }
    div.addr-cont{
        margin-right: 0;
        margin-bottom: 5px;
    }
    div.contacts{
        margin: 5px;
    }
    div.icons{
        padding: 5px;
        height: 42%;
    }
    hr#last{
        border: 0;
    }
    div.footer-item {
        margin: -7px;
    }
    footer{
        align-items: center;
        padding: 8px 0;
    }
}

@media screen and (max-width: 850px){
    nav {
        padding-left: 10px;
    }
    a{
        padding: 1px 7px;
    }
    .menu{
        font-size: 27px;
    }
    img#logo{
        height: 37px;
        width: 176px;
    }
    div.text {
        padding: 0 4px;
    }
    article{
        flex-direction: column;
    }
    .flex-element:nth-child(2){
        order: 1;
    }
    .flex-element:nth-child(1){
        order: 2;
    }
    aside{
        width: 48%;
        flex-direction: row;
    }
    div.asides {
        width: 100%;
        display: flex;
    }
    section{
        width: 100%;
    }
}

@media screen and (max-width: 724px){
    a{
        padding: 1px 4px;
    }
    .menu{
        font-size: 25px;
        padding: 1px 4px;
    }
    img#logo{
        height: 32px;
        width: 149px;
    }
}

@media screen and (max-width: 600px){
    .menu{
        font-size: 20px;
        padding: 1px 3px;
        line-height: 34px;
    }
    img#logo{
        height: 25px;
        width: 125px;
    }
    p.address{
        font-size: 17px;
    }
    h4{
        font-size: 19px;
    }
    h1#footer{
        font-size: 19px;
    }
}

@media screen and (max-width: 480px){
    header{
        justify-content: center;
    }
    .menu{
        flex-direction: column;
        line-height: 29px;
    }
    nav{
        justify-content: center;
        padding-left: 0;
    }
    div.menu{
        width: 105px;
        height: 30px;
    }
    .flex-element{
        flex-direction: column;
        align-items: center;
    }
    aside{
        width: 97%;
        margin-bottom: 13px;
        line-height: 25px;
    }
    aside.aside-bottom{
        margin-bottom: 13px;
    }
    p {
        font-size: 17px;
    }
    h2{
        font-size: 23px;
    }
    button{
        font-size: 18px;
        margin-top: 10px;
    }




    .menu-btn {
        align-items: center;
        position: fixed;
        top: 14px;
        left: 10px;
        width: 22px;
        height: 29px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .menu-box {
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100%;
        left: -100%;
        margin: 0;
        padding: 25px 0 12px 0;
        list-style: none;
        text-align: center;
        background-color: #f2f2f2;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    }
    .menu-burger-item {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    #menu-sw:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }
    #menu-sw:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu-sw:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu-sw:checked ~ .menu-box {
        visibility: visible;
        left: 0;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        transition-duration: .25s;
    }
    .menu-box {
        transition-duration: .25s;
    }
    .menu-burger-item {
        transition-duration: .25s;
    }
}
@media screen and (max-width: 423px){
    div.icons{
        height: 32%;
        width: 242px;
    }
}
@media screen and (max-width: 250px){
    a{
        padding: 0;
    }
    .menu{
        font-size: 17px;
        line-height: 24px;
    }
    div.menu{
        height: 22px;
        width: 184px;
        padding: 0;
    }
    img#logo{
        height: 23px;
        width: 109px;
    }
}