table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    width: 56%;
}
h2{
    text-align: center;
}
main {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 242px;
}
th, td {
    text-align: center;
    font-size: 25px;
    width: 171px;
    padding: 23px;
    border: 1px solid #1f1c1c;
}
tr:nth-child(even){
    background-color: rgba(86, 123, 8, 0.50);
}
tr:nth-child(odd){
    background-color: #567B08;
}